body {
	margin: 0px;
	padding: 0px;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

p {
	margin: 0px;
	padding: 0px;
}

#image-top-bg {
	margin: auto;
	background: url("../../images/img_bg.png");
	background-size: cover;
	width: 100%;
	height: 229px;
}

#image-top {
	width: 1100px;
	margin: auto;
	position: relative;
}

#image-top div {
	position: absolute;
	float: left;
	display: block;
	top: 90px;
}

#image-top div p:first-child {
	color: white;
	font-family: "Apex New";
	font-size: 20px;
	font-weight: bold;
}

#image-top div p:last-child {
	color: white;
	font-size: 12px;
}

#content {
	width: 1100px;
	margin: auto; 
}

#content> p {
	text-align: center;
	margin: 15px 0;
	font-family: "YouandiModern", sans-serif;
}

#content form[name='joinForm'] label {
	font-family: "YouandiModern", sans-serif;
}

#content form[name='joinForm'] {
	width: 45%;
	margin: auto;
}

#content form[name='joinForm'] li:nth-child(4) button,
#content form[name='joinForm'] li:nth-child(5) button {
	position: relative;
	top: -23px;
	left: 345px;
	width: 21px;
	background: white;
	cursor: pointer;
	border: none;
}


#content form[name='joinForm'] li:nth-child(4) input,
#content form[name='joinForm'] li:nth-child(5) input{
	margin-bottom: -15px;
}


#content form[name='joinForm'] li:nth-child(4) img,
#content form[name='joinForm'] li:nth-child(5) img {
	width: 21px;
	height: 14px;
}


#content form[name='joinForm'] li {
	text-align: left;
	padding: 0 50px;
	font-family: "YouandiModern", sans-serif;
}

#content form[name='joinForm'] input {
	width: 392px;
	padding: 20px 0;
	margin: 10px 0;
	text-indent: 10px;
	border-radius: 3px;
	border: 1px solid lightgray;
	outline: none;
}

#content form[name='joinForm'] input:focus {
	border: 1px solid gray;
}

#content form[name='joinForm'] li:nth-child(9) {
	position: relative;
}

#content form[name='joinForm'] input[name='email1'] {
	width: 180px;
	margin-right: 2px;
}

#content form[name='joinForm'] select[name='email2'] {
	width: 181px;
	height: 58px;
	border: 1px solid lightgray;
	border-radius: 3px;
	font-size: 10pt;
	padding-left: 10px;
	position: absolute;
	top: 10px;
	margin-left: 8px;
}

#content form[name='joinForm'] input[name='zip-code'] {
	width: 120px;
	height: 5px;
}

#content form[name='joinForm'] li:nth-child(11) button {
	width: 90px;
	height: 35px;
	margin-left: 10px;
	border: 1px solid white;
	border-radius: 4px;
	display: inline-block;
	vertical-align: top;
	margin-top: 16px;
	cursor: pointer;
}

#content form[name='joinForm'] input[name='phone2'],
#content form[name='joinForm'] input[name='phone3'] {
	width: 100px;
	height: 3px;
}

#content form[name='joinForm'] select[name='mobile'] {
	width: 70px;
	height: 43px;
	border: 1px solid lightgray;
	border-radius: 3px;
}

#content form[name='joinForm'] select[name='phone1'] {
	width: 60px;
	height: 43px;
	margin-left: 19px;
	border: 1px solid lightgray;
	border-radius: 3px;
}

#content form[name='joinForm'] input[name='Allcheck'] {
	width: 23px;
	height: 12px;
}

#content form[name='joinForm'] input[name='agreement'] {
	width: 15px;
	height: 12px;
	display: inline-block;
	margin-left: 4px;
}

#content form[name='joinForm'] li:nth-child(18) label {
	display: block;
}

#content form[name='joinForm'] li:nth-child(18) label span,
#content form[name='joinForm'] li:nth-child(18) label a {
	vertical-align: top;
	display: inline-block;
	margin-top: 6px;
	font-size: 10pt;
}

#content form[name='joinForm'] li:nth-child(18) label a {
	font-family: "YouandiModern", sans-serif;
	text-decoration: none;
}

#content form[name='joinForm'] li:nth-child(18) label a:hover {
	text-decoration: underline;
}

#content form[name='joinForm'] span[name='span-color'] {
	color: tomato;
}

/*	border: 1px solid red; */


#content form[name='joinForm'] li:last-child a {
	text-decoration: none;
	color: #333;
	font-weight: bold;
}

#content form[name='joinForm'] li:last-child span {
	display: block;
	text-align: right;
	font-size: 10pt;
	font-family: "YouandiModern", sans-serif;
	margin-bottom: 8px;
}

#content p {
	font-family: "YouandiModern", sans-serif;
	padding: 10px;
}

#button {
	border: none;
	width: 394px;
	height: 60px;
	cursor: pointer;
	color: white;
	background: linear-gradient(to right,#682CAD,#2FC0CC);
	border-radius: 3px;
	font-family: "Apex New";
	margin: 10px 0;
}

/* #join-button,
#myPage-button {
	border: none;
	width: 394px;
	height: 60px;
	cursor: pointer;
	color: white;
	background: linear-gradient(to right,#682CAD,#2FC0CC);
	border-radius: 3px;
	font-family: "Apex New";
	margin: 10px 0;
} */

