
#product-price {
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  font-size: 18px !important;
  padding-bottom: 20px;
  text-align: left;
  border-top: 1px solid rgba(255,255,255,0.0);
  border-bottom: 0;
  float: none;
  padding-top: 20px;
  padding-bottom: 0
}

.detail-gallery {
  height: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  margin-bottom: 0;
  margin-left:1px;
  background:none;
}

.gallery-wrapper{
  overflow:hidden;
}

.gallery{
  width: 784px;
  height: 107px;
  scroll-behavior: smooth;
  background:none;
}

.detail-gallery .item{
  position:relative;
  width:144px;
  height:81px;
  margin:8px;
  padding:0;
  text-align:center;
}

.detail-gallery .item:first-child{
  margin-left:0;
}
.input-inline {
  display: flex;
  justify-content: center;
}
.input-inline button:not(:last-child) {
  margin-right: 10px;
}
.detail-gallery .item img{
  width:144px;
  height:81px;
  margin:0;
  padding:0;
}
.detail-gallery .active{
  width:144px;
  height:81px;
  margin:8px;
  padding:0;
  text-align:center;
}
.donation-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;
  font-weight:bold;
}

.donation-amount .don-amount{
  color: #623BB0;
}
.detail-gallery .active img{
  margin:0;
  padding:0;
  border:2px solid #ffffff;
}
.vm-product-container{
  position:relative;
}

.vm-product-container .left{
  position:relative;
  float:left;
  width:768px;
  padding:0;
  margin-right:16px;
}

.vm-product-container .left .vm-product-media-container{
  position:relative;
  width:100%;
  padding:0;
  margin-bottom:20px;
}

.productdetails-view .vm-product-media-container .main-image{
  width:768px;
  min-height:414px;
  padding:16px;
  margin:0;
  background-color: rgba(0,0,0,0.2);
}

.main-image iframe{
  position:relative;
  width:736px;
  height:414px;
  margin:0;
  padding:0;
  border:none;
}

.main-image img{
  width:736px;
  max-height:414px;
  margin:0;
  padding:0;
}

.vm-product-container .left .vm-productdetail-tabs-container{
  position:relative;
  width:100%;
  padding:0;
  margin:0;
}

.vm-productdetail-tabs-container .nav-tabs>li>a{
  padding-left:16px;
  padding-right:16px;
  min-width:100px;
  text-align:center;
}

.vm-productdetail-tabs-container .tab-content{
  position:relative;
  width:100%;
  padding:0;
}

.product-description{
  padding:10px;
}

.product-description p{
  line-height:24px;
  white-space:pre-line;
  word-wrap: break-word;
}

.product-description img{
  width:100%;
}

.vm-product-container .right{
  float:right;
  width:320px;
  padding:0;
  margin-left:16px;
}

.vm-product-container .right .vm-product-details-container{
  position:relative;
  width:100%;
  padding:0;
  margin:0;
  text-align:left;
}

.vm-product-details-container .product-info{
  border-top: 1px solid rgba(255,0,0,0.1);
  border-bottom: 0;
  float: none;
  padding-top: 20px;
  padding-bottom: 0;
}
.vm-product-details-container .vmproduct-link{
  border-top: 1px solid rgba(255,0,0,0.1);
  border-bottom:1px solid rgba(255,0,0,0.1);
  float: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

.vm-product-details-container .vmproduct-link button{
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right,#682CAD,#2FC0CC) 1;
}

.vm-product-container .right .product-share-container{
  position:relative;
  width:100%;
  padding:0;
  margin:0;
  text-align:left;
}

.vm-display{
  margin-bottom: 8px;
}

.vm-display .vm-desc{
  margin: 0 8px 2px 0;
  padding:0;
  width:85px;
  display:inline-block;
  font-size:14px;
  vertical-align:top;
  font-weight:bold;
  color: #2B2B2B;
}

.vm-display .vm-value{
  display:inline-block;
  letter-spacing:-1px;
  padding:0;
  margin:0;
  max-width:180px;
  width:180px;
  overflow:hidden;
  color:#838383;
}

.vm-price-desc{
  margin: 2px 0 0 0;
  padding:0;
  width:60px;
  display:inline-block;
  font-size:14px;
  vertical-align:top;
  font-weight:bold;
  color: #2B2B2B;
}
.product-description h5{
  font-size:16px;
  font-weight:bold;
  color:#67c1f5;

}

.product-description article{
  margin-top:20px;
  margin-bottom:20px;
}

#image-top-bg {
  margin: auto;
  background: url("../images/img_bg.png");
  background-size: cover;
  width: 100%;
  height: 200px;
}

.main-container img {
  border: 0;
  vertical-align: middle;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.main-container button {
  overflow: visible
}

.main-container button,select {
  text-transform: none
}

.main-container input {
  line-height: normal
}

.main-container textarea {
  overflow: auto
}

.main-container table {
  border-collapse: collapse;
  border-spacing: 0
}

.main-container td,th {
  padding: 0
}

.main-container * {
  box-sizing: border-box;
}


.docs-section .page-header {
  border-bottom: 1px solid rgba(255,255,255,0.1);
  margin: -20px -20px 20px -20px;
  padding-bottom: 0
}

.page-header h1{
  color: inherit;
  font-size: 13px;
  letter-spacing: 0.5px;
  margin: 0;
  padding: 20px 32px 20px 0;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}

.page-header h2 {
  color: inherit;
  font-size: 13px;
  letter-spacing: 0.5px;
  margin:  0;
  padding:40px 20px 0;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}
.docs-section .page-header h1 {
  margin: 0;
  line-height: normal;
  padding-right: 0;
  margin-left: 20px
}
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee
}



.main-container input,button,select,textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit
}

.main-container a {
  color: #67c1f5;
  text-decoration: none
}

.main-container .img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #1b2838;
  border: 1px solid #dddddd;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto
}

.main-container {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 16px;
  padding-right: 16px
}

@media (min-width: 768px) {
  .main-container {
    width:752px
  }
}

@media (min-width: 992px) {
  .main-container {
    width:972px
  }
}

@media (min-width: 1200px) {
  .main-container {
    width:1152px
  }
}

.media_player_marker{
  position:absolute;
  margin-left:60px;
  margin-top:32px;
  background:red;
  height:25px;
  line-height:25px;
  border-radius:5px;
  text-align:center;
  padding-left:8px;
  padding-right:6px;
}

.row {
  margin-left: -16px;
  margin-right: -16px
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.btn-default {
  background-color: #ffffff;
  border-color: #cccccc;
  color: #333333;
  background: linear-gradient(#ffffff,#f2f2f2);
  border: 1px solid #cccccc;
  box-shadow: 0 0 1px rgba(255,255,255,0.2) inset
}

.btn-warning {
  background-color: #f0ad4e;
  border-color: #eea236;
  color: #ffffff;
  background: linear-gradient(to right,#682CAD,#2FC0CC);
  border: 1px solid #eea236;
  box-shadow: 0 0 1px rgba(255,255,255,0.2) inset
}

.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none
}

.nav > li {
  position: relative;
  display: block
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px
}


.nav > li > a > img {
  max-width: none
}

.nav-tabs {
  border-bottom: 1px solid #dddddd
}

.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}

.nav-tabs > li.active > a,.nav-tabs > li.active > a:hover,.nav-tabs > li.active > a:focus {
  color: rgba(255, 255, 255, 1);
  background: linear-gradient(to right,#682CAD,#2FC0CC);
  border: 1px solid rgba(255, 255, 255, 0);
  border-bottom-color: transparent;
  cursor: default
}

.tab-content > .tab-pane {
  display: none
}

.tab-content > .active {
  display: block
}

.nav:after,  .panel-body:after{
  content: " ";
  display: table;
  clear: both
}
