/* common */
* {
	padding: 0;
	margin: 0;
	font-family: "YouandiModern", "Apex New", "Noto Sans KR", sans-serif;
}

body>header iframe {
	display: block;
}

ol, ul, li {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

/* base */
#content, #board-list, table, #section_cart, #section_member,
	#section_payment, #section_price {
	width: 1100px;
	margin: auto;
}

/* Menu title(under the header) */
#top-bg {
	width: 100%;
	margin: auto;
	background-image: url(../images/img_bg.png);
	background-size: cover;
	height: 229px;
	background-repeat: no-repeat;
}

#base-layer {
	width: 1100px;
	margin: auto;
}

#top-bg-textarea {
	color: white;
	font-style: italic;
}

#top-title {
	font-family: "Apex New";
	color: white;
	font-size: 32px;
	font-weight: bold;
	padding-top: 70px;
}

#top-subtitle {
	font-size: 20px;
	font-style: normal;
	padding-top: 15px;
	opacity: 0.6;
	font-weight: 500;
}

/* link */
a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #DDDDDD;
}

/* public button style */
#btn-style, #order-btn-search, #order-btn-delete, #btn-deleteAll,
	#btn-deleteSelected {
	background: #393939;
	border-radius: 5px;
	width: 80px;
	height: 30px;
	color: #FFFFFF;
	font-size: 14px;
	vertical-align: top;
	cursor: pointer;
}

#button-gradient {
	border: none;
	width: 394px;
	height: 60px;
	cursor: pointer;
	color: white;
	background: linear-gradient(to right, #682CAD, #2FC0CC);
	border-radius: 3px;
	font-family: "YouandiModern", sans-serif; /***/
	margin-top: 20px;
	font-size: 20px; /***/
}

#button-gradient-findPwd,
#button-gradient-company-login,
#button-gradient-findPwd {
	border: none;
	width: 394px;
	height: 60px;
	cursor: pointer;
	color: white;
	background: linear-gradient(to right, #682CAD, #2FC0CC);
	border-radius: 3px;
	font-family: "YouandiModern", sans-serif; /***/
	margin: 10px 0;
	font-size: 20px; /***/
}

/* public input style */
#input-common, #section_member input, #section_member select {
	width: 394px;
	padding: 20px 0;
	margin: 5px 0;
	text-indent: 10px;
	border-radius: 3px;
	border: 1px solid lightgray;
	outline: none;
	font-size: 16px;
}
/*Sign Up - ID input style*/
#input-id {
	width: 305px;
}

#input-common:focus, #section_member input:focus, #section_member select:focus
	{
	border: 1px solid gray;
}

/* checkbox style */
#chk-circle {
	width: 1rem;
	height: 1rem;
	border: 2px solid #2C2C2C;
	border-radius: 50%;
	appearance: none;
	cursor: pointer;
}

/* Main style */
#content-main {
	display: block;
	width: 100%;
	margin: auto;
}

#slides-1-bg {
	padding: 160px 400px 0 400px;
	height: 500px;
	background-image: url("../../images/img_main_01.png ");
	background-size: cover;
	overflow: hidden;
	position: relative;
}

#slide-1 {
	width: 1100px;
	margin: auto;
}

#slide-1 h2 {
	font-family: "YouandiModern", sans-serif;
	font-size: 32px;
	color: #fff;
	padding-bottom: 32px;
}

#slide-1 p {
	font-family: "Noto Sans KR", sans-serif;
	font-size: 28px;
	color: #fff;
	padding-bottom: 45px;
}

#slide-1 h1 {
	font-family: "Apex New", sans-serif;
	font-size: 100px;
	font-weight: bold;
	font-style: italic;
	color: #fff;
	padding-bottom: 10px;
}

#btn-main-style {
	font-family: "YouandiModern", sans-serif;
	font-size: 18px;
	color: #fff;
	border: 2px solid #FFFFFF;
	background-color: rgba(255, 255, 255, 0);
	padding: 20px 50px;
}

#btn-style-main-left {
	position: absolute;
	top: 300px;
	left: 300px;
	background-color: rgba(255, 255, 255, 0);
	border: none;
}

#btn-style-main-right {
	position: absolute;
	top: 300px;
	right: 300px;
	background-color: rgba(255, 255, 255, 0);
	border: none;
}

#menu-topGame {
	padding: 60px 0;
	margin-left: 410px;
	display: block;
	text-align: center;
}

#topGame-title, #recommendations-title, #solution-title, #allList-title
	{
	padding-top: 60px;
	display: block;
	text-align: center;
	margin: auto;
}

#subTitle {
	padding-top: 20px;
	padding-bottom: 60px;
	display: block;
	text-align: center;
	margin: auto;
}

#topGameList {
	white-space: nowrap;
	overflow-x: scroll;
}

#tList1, #tList2, #tList3 {
	display: inline-block;
	width: 500px;
	height: 320px;
	position: relative;
	margin-right: 40px;
	margin-bottom: 20px;
}

#tList1 div p:nth-child(1), #tList2 div p:nth-child(1), #tList3 div p:nth-child(1)
	{
	position: absolute;
	float: left;
	top: 260px;
	left: 20px;
	font-family: "Apex New", sans-serif;
	font-weight: bold;
	font-size: 56px;
	font-style: italic;
}

#tList1 div p:nth-child(2), #tList2 div p:nth-child(2), #tList3 div p:nth-child(2)
	{
	text-align: left;
	margin-top: 20px;
	margin-left: 70px;
	font-family: "Apex New", sans-serif;
	font-weight: bold;
	font-size: 26px;
	font-style: italic;
}

#tList1 div p:nth-child(3), #tList2 div p:nth-child(3), #tList3 div p:nth-child(3)
	{
	text-align: left;
	margin-top: 4px;
	margin-left: 70px;
	font-family: "YouandiModern", sans-serif;
	font-size: 16px;
}

#readmore-plus {
	position: absolute;
	float: right;
	top: 270px;
	right: 20px;
	border: 1px solid #fff;
	background-color: rgba(255, 255, 255, 0);
}

#menu-main1, #menu-main3 {
	background-color: #F2F2F2;
	background-size: cover;
	width: auto;
}

#menu-recommendations>img:first-child {
	text-align: center;
	padding-bottom: 60px;
}

#gameList1 {
	padding-top: 60px;
	overflow: visible;
	padding-bottom: 50px;
}

#recommendList, #gameList1, #gameList2, #gameList3, #gameList4,
	#gameList5, #gameList6 {
	overflow: visible;
	padding-bottom: 50px;
}

#menu-recommendations, #menu-allList, #menu-solution {
	display: block;
	width: 1100px;
	margin: auto;
	padding-bottom: 100px;
}

#rList1, #rList2, #rList3, #rList4 {
	display: inline-block;
	width: 260px;
	height: 392px;
	box-shadow: 0px 5px 10px #0000001A;
	position: relative;
	margin: 0 5px;
	background-color: #fff;
}

#rList1 ul, #rList2 ul, #rList3 ul, #rList4 ul, #gList1 ul, #gList2 ul,
	#gList3 ul, #gList4 ul, #gList5 ul, #gList6 ul {
	list-style-type: none;
	padding: 14px;
}

#rList1 ul li:nth-child(1), #rList2 ul li:nth-child(1), #rList3 ul li:nth-child(1),
	#rList4 ul li:nth-child(1) {
	border-radius: 10px;
	background: linear-gradient(to right, #682CAD, #2FC0CC);
	width: 45px;
	height: 16px;
	text-align: center;
	color: #fff;
	font-family: "Apex New", sans-serif;
	font-size: 13px;
	font-style: italic;
	font-weight: bold;
	padding-bottom: 2px;
}

#rList1 ul li:nth-child(2), #rList2 ul li:nth-child(2), #rList3 ul li:nth-child(2),
	#rList4 ul li:nth-child(2) {
	color: #000;
	font-family: "Apex New", sans-serif;
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
	padding-top: 14px;
}

#rList1 ul li:nth-child(3), #rList2 ul li:nth-child(3), #rList3 ul li:nth-child(3),
	#rList4 ul li:nth-child(3) {
	color: #000;
	font-family: "YouandiModern", sans-serif;
	font-size: 13px;
	padding-top: 10px;
}

#rList1 ul li:nth-child(4), #rList2 ul li:nth-child(4), #rList3 ul li:nth-child(4),
	#rList4 ul li:nth-child(4) {
	float: right;
	padding-top: 14px;
}

#gList1 ul li:nth-child(1), #gList2 ul li:nth-child(1), #gList3 ul li:nth-child(1),
	#gList4 ul li:nth-child(1) {
	color: #000;
	font-family: "Apex New", sans-serif;
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
	padding-bottom: 10px;
}

#gList1 ul li:nth-child(2), #gList2 ul li:nth-child(2), #gList3 ul li:nth-child(2),
	#gList4 ul li:nth-child(2) {
	color: #000;
	font-family: "YouandiModern", sans-serif;
	font-size: 13px;
	padding-bottom: 10px;
}

#btn-like-style {
	border: none;
	background: url("../images/btn_heart_normal.png ") no-repeat;
	width: 18px;
	height: 14px;
	cursor: pointer;
	float: left;
	margin-top: 2px;
}

#gList1 ul li:nth-child(4), #gList2 ul li:nth-child(4), #gList3 ul li:nth-child(4),
	#gList4 ul li:nth-child(4) {
	color: #C5C9D3;
	font-family: "Noto Sans KR", sans-serif;
	font-size: 12px;
}

#gList1 ul li:nth-child(5), #gList2 ul li:nth-child(5), #gList3 ul li:nth-child(5),
	#gList4 ul li:nth-child(5) {
	position: absolute;
	right: 14px;
	bottom: 10px;
}

#rList1 div, #rList2 div, #rList3 div, #rList4 div {
	position: absolute;
	bottom: 0px;
	float: left;
	display: block;
}

#btn-recommend-style {
	width: 260px;
	height: 50px;
	background: linear-gradient(to right, #682CAD, #2FC0CC);
	border: 0px solid #fff;
	color: #fff;
	font-family: "YouandiModern", sans-serif;
	font-size: 16px;
}

#gList1, #gList2, #gList3, #gList4 {
	display: inline-block;
	width: 260px;
	height: 310px;
	box-shadow: 0px 5px 10px #0000001A;
	position: relative;
	margin: 0 5px;
	background-color: #fff;
}

#menu-solution>table {
	background-color: #fff;
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #DDDDDD;
	border-top: 2px solid #393939;
	border-bottom: 2px solid #393939;
}

#menu-solution>table th {
	font-family: "YouandiModern", sans-serif;
	font-size: 16px;
	border-bottom: 1px solid #DDDDDD;
	background-color: #F2F2F2;
}

#menu-solution>table td {
	font-family: "YouandiModern", sans-serif;
	font-size: 15px;
}

#menu-solution>table th, #menu-solution>table td {
	padding: 18px;
	text-align: center;
}

#menu-solution>table tr>th:first-child, #menu-solution>table tr>td:first-child,
	#menu-solution>table tr>th:nth-child(2), #menu-solution>table tr>td:nth-child(2)
	{
	padding: 8px;
}

#menu-solution>table tr>td:nth-child(3) {
	text-align: left;
}

#menu-solution a {
	text-decoration: none;
	color: #000;
}

#btn-solution {
	width: 260px;
	height: 50px;
	margin-right: 10px;
	background: linear-gradient(45deg, #682CAD, #2FC0CC);
	border: none;
	font-family: "YouandiModern", sans-serif;
	font-size: 16px;
	letter-spacing: 0px;
	color: #FFFFFF;
	opacity: 1;
	cursor: pointer;
}

#solution-btn-area {
	text-align: center;
	margin-top: 40px;
}

/* Footer style */
footer, dl, dd, ol, li {
	border: 0;
	line-height: 175%;
	letter-spacing: normal
}

#footer {
	background: #1c2025;
	padding: 100px 100px 0;
}

#footer .foot_top {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	padding: 0 0 60px;
	border-bottom: 1px solid Rgba(255, 255, 255, 0.2);
}

#footer .foot_top .f_info {
	width: 540px;
}

#footer .foot_top .f_info img {
	display: block;
	margin: 0 0 30px;
}

#footer .foot_top .f_info dl {
	font-size: 0;
	margin: 22px 0 0;
}

#footer .foot_top .f_info dl dd {
	display: inline-block;
	font-size: 15px;
	font-weighT: 400;
	color: rgba(255, 255, 255, 0.6);
	letter-spacing: -0.3pt;
	line-height: 1;
	margin-right: 24px;
	margin-bottom: 12px;
}

#footer .foot_top .f_info dl dd.address {
	display: block;
}

#footer .foot_top .f_info dl dd i {
	color: inherit;
	font-size: 15px;
	margin-right: 5px;
	position: relative;
	top: 2px;
}

#footer .foot_top .f_sitemap {
	width: calc(100% - 540px);
	display: flex;
	flex-wrap: wrap;
}

#footer .foot_top .f_sitemap dl {
	margin-right: 102px;
}

#footer .foot_top .f_sitemap dl:last-child {
	margin-right: 0;
}

#footer .foot_top .f_sitemap dl dt {
	color: #fff;
	font-weight: 400;
	line-height: 1;
	margin: 0 0 20px;
}

#footer .foot_top .f_sitemap dl dd a {
	display: block;
	font-size: 14px;
	color: rgba(255, 255, 255, 0.5);
	font-weight: 400;
	line-height: 1;
	margin: 0 0 15px;
	transition: all 0.2s linear;
}

#footer .foot_top .f_sitemap dl dd a:hover {
	color: #fff;
	transition: all 0.2s linear;
}

#event-banner {
	background-image: url("../images/img_event-banner.png");
	background-size: cover;
	width: 100%;
	height: 240px;
}

/* Hearder  style */
header {
	width: 100%;
	margin: auto;
	height: 228px;
}

header div img {
	display: block;
	clear: both;
}

#hearder-logo {
	height: 116px;
	position: relative;
	overflow: hidden;
	clear: both;
}

#hearder-logo>a {
	position: absolute;
	display: block;
	top: 38px;
	margin: 0 44%;
}

#header-bottom-menu {
	display: block;
	clear: both;
}

#header-top-menu {
	width: 100%;
	background-color: #393939;
	height: 50px;
}

#nav1 {
	margin: 10px 0;
	padding-right: 10%;
	float: right;
}

#nav1>ul {
	width: 100%;
	overflow: hidden;
}

#nav1>ul>li {
	display: block;
	float: left;
	margin: 0 2px;
}

#nav1>ul>li>a {
	display: block;
	width: 40px;
	padding: 4px 6px 4px 6px;
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	font-family: "YouandiModern", sans-serif;
	text-align: center;
}

#nav1>ul>li>a>img {
	text-align: center;
}

#nav1>ul>li:first-child {
	padding-right: 5px;
	border-right: 1px solid #999999;
}

#nav1>ul>li:nth-child(2) {
	margin-left: 0px;
}

#nav2 {
	border: 1px solid #D6D6D6;
	background-color: #F5F5F5;
	margin: auto;
	height: 61px;
	text-align: center;
}

#nav2>ul {
	width: 100%;
	margin: auto;
	overflow: hidden;
}

#nav2>ul>li {
	padding: 22px 50px;
	display: inline-block;
	margin: 0 50px;
}

#nav2>ul>li>a {
	font-family: "Apex New", sans-serif;
	font-style: italic;
	font-weight: 100;
	font-size: 18px;
	font-weight: bold;
	color: #2B2B2B;
	text-decoration-line: none;
}

#nav2>ul>li>a:hover {
	color: #497EBF;
	font-weight: bold;
}

/****** Order.html ******/

/* Order/Payment */
#order-title {
	padding: 80px 0 10px 0;
	width: 1100px;
	margin: auto;
	margin-bottom: 10px;
	border-bottom: 2px solid #393939;
	font-family: "YouandiModern", sans-serif;
	font-size: 23px;
	letter-spacing: 0px;
	color: #2B2B2B;
}

/* subtitle, th */
#order-subtitle, order-table th, chk-circle-span {
	padding: 0 0 5px 0;
	font-family: "YouandiModern";
	font-size: 16px;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
}

/* order.html commons */
#order-table, #price-table {
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 1px solid #DDDDDD;
	opacity: 1;
	border-collapse: collapse;
	margin: auto;
	margin-bottom: 50px;
	width: 100%;
	text-align: center;
}

#order-table th {
	border-bottom: 1px solid #DDDDDD;
	padding: 8px 0;
	font-size: 16px;
	color: #000000;
	text-align: center;
}

#order-table td, #order-table select {
	border-bottom: 1px solid #DDDDDD;
	font-size: 14px;
	color: #A9A9A9;
	text-align: left;
}

/* chk-circle */
#section_member #chk-circle, #section_payment #chk-circle {
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	border: 2px solid #2C2C2C;
	appearance: none;
	cursor: pointer;
	transition: background 0.2s;
}

#chk-circle:checked, #section_payment #chk-circle:checked {
	background: #2C2C2C;
}

/* subtitle & checkbox */
#member-chk {
	overflow: hidden;
}

#member-chk h2, #chk-circle, #chk-circle-span {
	display: inline-block;
	vertical-align: middle;
}

#chk-circle-span {
	margin-left: 5px;
}

#member-chk h2 {
	width: 200px;
	padding-top: 10px;
	float: left;
}

#member-chk div {
	float: right;
	text-align: center;
}

/** #section_cart **/
#section_cart td {
	width: 15%;
	height: 100px;
	text-align: center;
}

#cart-info, #th-cart-info {
	width: 40%;
	text-align: left;
}

/* #section_cart product img */
#img_product {
	width: 80px;
	height: 80px;
	outline: none;
	background: #E6E6E6 0% 0% no-repeat padding-box;
}

/* checkbox-box */
#chk-box {
	width: 20px;
	height: 20px;
	appearance: none;
	border: 2px solid #959595;
	border-radius: 0px;
	cursor: pointer;
}

#chk-box:checked {
	appearance: auto;
}

/* pdName, price font */
td#cart-info {
	text-align: left;
}

#cart-pdName, td#cart-price {
	font-size: 15px;
	letter-spacing: 0px;
	color: #000000;
	text-decoration: none;
}

/* delete button size */
#order-btn-delete {
	width: 60px;
}

/** #section_member **/
/* table */
#section_member th {
	width: 10%;
	vertical-align: center;
}

#section_member td {
	width: 80%;
	text-align: left;
}

#section_member input, #section_member select#email-select {
	margin: 7px 0;
	padding: 11px 10px;
}

/* input size */
#section_member #name {
	width: 300px;
}

#section_member #email-id, #section_member #email-addr, #section_member select
	{
	width: 150px;
}

#section_member #phone1, #section_member #phone2, #section_member #phone3
	{
	width: 70px;
}

/* search button size */
#order-btn-search {
	margin: 10px 0;
	width: 80px;
	height: 36px;
}

/** #section_payment **/
#section_payment #order-table {
	height: 300px;
}

#section_payment #order-table th {
	width: 25%;
	text-align: left;
	padding-left: 30px;
}

#section_payment #order-table td {
	padding: 5px 8px;
	text-align: left;
}

#section_payment #d1 {
	width: 1100px;
	height: 400px;
}

#section_payment #d2 {
	width: 1100px;
	height: 200px;
	text-align: center;
}

#section_payment #payment1 {
	float: left;
	width: 70%;
	height: 300px;
}

#section_payment #payment2 {
	float: right;
	width: 28%;
	height: 300px;
}

/* method button */
#section_payment #order-table #button-gradient {
	width: 100px;
	height: 40px;
	margin-right: 10px;
}

/* #payment1 */
#payment-method, #payment-info {
	margin: 10px 0;
}

/* font */
#section_payment a {
	padding-left: 5px;
	text-align: left;
	text-decoration: underline;
	font-family: "YouandiModern";
	font-size: 14px;
	letter-spacing: 0px;
	color: #6E6E6E;
}

#section_payment span {
	padding-left: 7px;
	text-align: left;
	font-family: "YouandiModern";
	font-size: 14px;
	letter-spacing: 0px;
	color: #6E6E6E;
	opacity: 1;
}

/* chkbox - agreement */
#section_payment #span_agreementAll {
	width: 150px;
	padding-left: 10px;
	text-align: left;
	font-family: "YouandiModern";
	font-size: 16px;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
}

#section_payment input#agreement {
	width: 18px;
	height: 12px;
	background-image: url("../images/btn_check_normal.png");
	background-repeat: no-repeat;
	appearance: none;
	cursor: pointer;
}

#section_payment input#agreement:checked {
	background-image: url("../images/btn_check_select.png");
	background-repeat: no-repeat;
}

/* #payment2 */
#payment2 #order-table th {
	width: 35%;
	border: none;
}

#payment2 #order-table td {
	text-align: right;
	border: none;
	padding-right: 10px;
}

#payment-price, #payment-totalPrice, #th-payment-price,
	#th-payment-totalPrice {
	height: 20%;
	padding-top: 25px;
}

#payment-sale {
	vertical-align: top;
	margin-top: 10px;
}

td#payment-price, td#payment-sale, td#payment-totalPrice {
	font-family: "YouandiModern";
	font-size: 20px;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
}

td#payment-totalPrice {
	font-size: 24px;
}

/** cart.html **/
#price-table {
	text-align: center;
	overflow: hidden;
}

#price-table th {
	height: 40px;
	border-bottom: 1px solid #DDDDDD;
	font-family: "YouandiModern";
	font-size: 14px;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
}

#price-table td {
	height: 50px;
	font-family: "YouandiModern";
	font-size: 17px;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
}

#price-table td#totalPrice {
	font-size: 24px;
	font-weight: bold
}

#price-table td#price {
	text-decoration: line-through;
}

#price-table th:nth-child(2), #price-table td:nth-child(2), #price-table th:nth-child(4),
	#price-table td:nth-child(4) {
	width: 10%;
}

#price-table th:nth-child(1), #price-table th:nth-child(3), #price-table td:nth-child(1),
	#price-table td:nth-child(3) {
	width: 24%;
}

#price-table #price, #price-table #sale {
	color: #6E6E6E;
}

#section_price div:nth-child(2) {
	margin-top: 100px;
	width: 1100px;
	height: 200px;
	text-align: center;
}

/** board style **/
#content {
	margin: 100px auto;
}

#board-content>table, #user-btable, #admin-btable, #board-write>table {
	border-collapse: collapse;
	border-top: 2px solid #393939;
	border-bottom: 2px solid #393939;
}

/* board top menu */
#board-top-menu {
	padding-bottom: 10px;
	font-size: 0px;
}

#board-write>table {
	border-collapse: collapse;
	border: 1px solid #DDDDDD;
	border-top: 2px solid #393939;
	border-bottom: 2px solid #393939;
}

#board-top-menu>p {
	font-size: 24px;
	float: left;
}

#board-top-menu>div>label>input {
	width: 215px;
	height: 14px;
	border: 1px solid #DDDDDD;
	padding: 7px 30px 7px 16px;
	font-size: 14px;
}

#board-top-menu>div>label {
	position: relative;
	margin-left: 410px;
}

#bsearch-box {
	float: right;
}

#board-top-menu>div>ul>li:last-child>button {
	margin-right: 0;
}

#board-top-menu>div>ul>li:last-child>a>button {
	margin-right: 0;
}

#board-top-menu>div>ul {
	float: right;
}

#board-top-menu>div>ul>li {
	float: left;
	margin-left: 10px;
}

#btn-search {
	background: none;
	border: none;
	position: absolute;
	top: -15px;
	right: 10px;
	cursor: pointer;
}

/* #btn-search:hover  */

/* board */
#admin-btable th {
	border-bottom: 1px solid #DDDDDD;
}

#admin-btable th, #admin-btable td {
	padding: 18px;
	text-align: center;
}

#admin-btable tr>th:first-child, #admin-btable tr>td:first-child,
	#admin-btable tr>th:nth-child(2), #admin-btable tr>td:nth-child(2) {
	padding: 8px;
}

#admin-btable tr>td:nth-child(3) {
	text-align: left;
}

#paging {
	font-size: 18px;
	list-style-type: none;
	clear: both;
	margin: 0 380px;
}

#paging>li {
	float: left;
	padding: 5px;
}

#user-btable, #admin-btable {
	border-bottom: none;
}

#user-btable tr:last-child, #admin-btable tr:last-child {
	border-top: 2px solid #393939;
}

/* board - user */
#user-table th {
	border-bottom: 1px solid #DDDDDD;
}

#user-table th, td {
	padding: 18px;
	text-align: center;
}

#user-btable tr>th:first-child, #user-btable tr>td:first-child {
	padding: 8px;
}

#user-btable tr>td:nth-child(2) {
	text-align: left;
}

#user-btable tr>td:nth-child(3) {
	text-align: center;
}

/* board - write */
#board-write>table th {
	padding: 19px 24px;
	font-size: 16px;
	border-bottom: 1px solid #DDDDDD;
}

#board-write>table td {
	font-size: 14px;
	border-bottom: 1px solid #DDDDDD;
	padding: 8px;
}

#default-write {
	font-size: 14px;
	border: 1px solid #DDDDDD;
	padding: 12px 16px;
	width: 766px;
}

#board-write>table td>input {
	height: 14px;
}

#board-write>table td>textarea {
	height: 153px;
	resize: none;
}

/* board - content */
#board-content>table th {
	padding: 19px 8px;
	font-size: 16px;
	background: #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}

#board-content>table td {
	font-size: 17px;
	border-bottom: 1px solid #DDDDDD;
	padding: 8px;
}

#board-content>table th:first-child {
	text-align: left;
}

#board-content>table td:nth-child(2) {
	width: 50%;
}

#details {
	padding: 10px 30px;
	text-align: left;
}

#clearFix {
	clear: both;
}
/****************************************************************/

/* AllPage; introduce p tag */
#intro {
	font-family: "YouandiModern", sans-serif;
	font-size: 24px;
	padding-bottom: 60px;
}

/* AllPage; section */
#content-1 {
	width: 1100px;
	margin: auto;
	text-align: center;
	padding: 60px 0 100px 0;
}

/* deletePwd; button-style */
#button-gradient-delete {
	border: none;
	width: 394px;
	height: 60px;
	cursor: pointer;
	color: white;
	background: black;
	border-radius: 3px;
	font-family: "YouandiModern", sans-serif;
	font-size: 20px;
	margin: 10px 0;
}

/* deletePwd; page intro style */
#intro-1 {
	font-family: "YouandiModern", sans-serif; /***/
	width: 394px;
	margin: auto;
	text-align: left;
	font-size: 16px;
	padding: 20px 0 14px 0;
}

/* deletePwd; delete-reason selectbox style*/
#selectbox-find {
	width: 394px;
	height: 60px;
	margin: 10px 0;
	border: 1px solid lightgray;
	border-radius: 4px;
}

/* deletePwd; selectbox:hover style */
#selectbox-find:focus {
	border: 1px solid gray;
}

/*deletePwd; intro*/
#goodbye {
	width: 394px;
	margin: auto;
	text-align: left;
	padding: 40px 0;
}
/*deletePwd; delete-id p tag*/
#delete-id {
	font-size: 18px;
	font-family: "YouandiModern", sans-serif;
}
/*deletePwd; delete-content p tag*/
#delete-content {
	font-size: 13px;
	font-family: "Noto Sans";
	padding: 22px 0 20px 0;
}
/*deletePwd; delete-caution p tag*/
#delete-caution {
	background: #E6E6E6;
	padding: 20px 11px 20px 20px;
	color: #D81E42;
	font-size: 13px;
	font-family: "Noto Sans";
	font-weight: 700;
}

/* SignUp; email input style */
#input-email,#company-email1, #company-email2, #join-email2 {
	width: 127px;
	padding: 20px 0;
	text-indent: 10px;
	border-radius: 3px;
	border: 1px solid lightgray;
	outline: none;
	font-size: 16px;
}

/* SignUp; email selectbox style */
#selectbox-email,#company-selectbox-email {
	width: 116px;
	padding: 22px 0 20px 0;
	border: 1px solid lightgray;
	text-indent: 10px;
	border-radius: 3px;
	outline: none;
}

/*SignUp; phone input style except 010*/
#input-phone,
#company-phone1,
#company-phone2,
#company-phone3 {
	width: 109px;
	height: 43px;
	border-radius: 3px;
	border: 1px solid lightgray;
	font-size: 16px;
	text-indent: 10px;
}

#input-phone-company {
	width: 118px;
	height: 43px;
	border-radius: 3px;
	border: 1px solid lightgray;
	font-size: 16px;
	text-indent: 10px;
}
/*SignUp; addr input style */
#input-addr1,
#company-addr1 {
	width: 325px;
	padding: 20px 0;
	margin: 5px 0;
	text-indent: 10px;
	border-radius: 3px;
	border: 1px solid lightgray;
	outline: none;
	font-size: 16px;
}

/*SignUp,myPage; individual form style*/
#content-2,
#content-myPage,
#newPasswordForm {
	width: 40%;
	margin: auto;
	text-align: left;
	padding-left: 45px;
}

/* SignUp,myPage; password eye img style
#pwd-check-img {
	width: 21px;
	height: 14px;
}
*/
/* SignUp, Company-SignUp, myPage; telecom selectbox style */
#selectbox-mobile,
#company-selectbox-mobile {
	width: 70px;
	height: 45px;
	border: 1px solid lightgray;
	border-radius: 3px;
	margin: 5px 0;
	position: relative;
	top: -1px;
}

/* SignUp, Company SignUp, myPage; 010 selectbox style*/
#selectbox-phone,
#company-selectbox-phone {
	width: 60px;
	height: 45px;
	margin-left: 21px;
	border: 1px solid lightgray;
	border-radius: 3px;
	position: relative;
	top: -1px;
}


/* SignUp,Company-SignUp; margin between cellphone and agreement radiobox  */
#agreement-box {
	margin: 30px 0 10px 0;
	width: 394px;
	font-size: 10pt;
}

/* SignUp; agreement span font-color */
#agreement-color {
	color: tomato;
	margin: 0 3px;
}
/* SignUp; agreement jasehee link */
#detail1, #detail2 {
	text-decoration: underline;
	color: blue;
	margin-left: 10px;
	cursor: pointer;
	color: #6E6E6E;
}


/* SignUp,myPage zip-code find button
SignUp IdCheck button style*/
#address-btn-style,
#company-address-btn-style,
#check-btn-style,
#c-check-btn-style {
	background: #393939;
	border-radius: 5px;
	width: 50px;
	height: 30px;
	color: #FFFFFF;
	font-size: 14px;
	cursor: pointer;
	margin: 0 8px;
}

#address-btn-style,
#company-address-btn-style {
	margin-left: 15px;
}
/*SignUp, Company SignUp; IdCheck button style*/
#check-btn-style,
#c-check-btn-style {
	width: 80px;
}

/*SignUp,Company-SignUp All agreement span style*/
#span_agreementAll {
	width: 150px;
	padding-left: 10px;
	text-align: left;
	font-family: "YouandiModern";
	font-size: 16px;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
}

/*SignUp,Company-SignUp; agreement input style*/
#checkbox-agreement,
#c-checkbox-agreement {
	width: 18px;
	height: 12px;
	background-image: url("../images/btn_check_normal.png");
	background-repeat: no-repeat;
	appearance: none;
	cursor: pointer;
}

/*SignUp, Company-SignUp; agreement input style checked*/
#checkbox-agreement:checked,
#c-checkbox-agreement:checked {
	background-image: url("../images/btn_check_select.png");
	background-repeat: no-repeat;
}

/*SignUp, Company-SignUp; must insert dot style*/
#label-dot {
	display: inline-block;
	position: absolute;
	top: -9px;
	left: -4px;
	color: red;
}
/*SignUp, Company-SignUp; must insert li style*/
#must-insert {
	position: relative;
}

/*SignUp; input validation span check style*/
#idMsg, #pwdMsg, #nameMsg, #phoneMsg {
	display: none;
}
/*SignUp; agreement not must check style*/
#choice-span {
	margin: 0 3px;
}
/*SignUp; agreement not must check style*/
#agreement-choice,
#c-agreement-choice {
	width: 18px;
	height: 12px;
	background-image: url("../images/btn_check_normal.png");
	background-repeat: no-repeat;
	appearance: none;
	cursor: pointer;
}
/*SignUp; agreement not must check style*/
#agreement-choice:checked,
#c-agreement-choice:checked {
	background-image: url("../images/btn_check_select.png");
	background-repeat: no-repeat;
}

/*SignUp, Company SignUp; password check img style*/
#pwd-check-img, #pwd-check-img-1,
#c-pwd-check-img, #c-pwd-check-img-1 {
	width: 24px;
	height: 16px;
	background-image: url("../images/btn_eye_normal.png");
	background-repeat: no-repeat;
	appearance: none;
	cursor: pointer;
	position: relative;
	right: 40px;
	top: 2px;
}
/*SignUp, Company SignUp; password check img style*/
#pwd-check-img:checked, #pwd-check-img-1:checked,
#c-pwd-check-img:checked, #c-pwd-check-img-1:checked {
	background-image: url("../images/btn_eye_select.png");
	background-repeat: no-repeat;
}

/* login; find-ID link style*/
#link-findAccount {
	display: inline-block;
	background: white;
	color: #2B2B2B;
	font-size: 14px;
	padding: 0 8px;
	text-decoration: none;
	font-family: "YouandiModern", sans-serif;
	margin-top: 30px;
}

/* login; SignUp link style */
#link-signUp {
	display: inline-block;
	font-family: "Apex New";
	font-weight: 500;
	color: #2E7AF6;
	text-decoration: none;
	font-size: 14px;
	margin: 25px 10px 0 8px;
}
/* login; link to find-ID, signUp hover style */
#link-findAccount:hover, #link-signUp:hover {
	text-decoration: underline;
}

/*login; line, space between linkAccount and link-SignUp style */


/* myPage; deletePwd link style*/
#link-deleteAccount,
#link-changePassword,
#link-donation {
	margin-left: 330px;
	text-decoration: none;
	color: #333;
	font-weight: bold;
	font-size: 10pt;
}

#link-changePassword {
	margin-left: 300px;
}

#link-donation {
	margin-left: 285px;
}

/*findId; findPwd intro*/
#intro-2 {
	width: 394px;
	margin: auto;
	text-align: left;
	font-size: 16px;
	padding-bottom: 14px;
	font-family: "YouandiModern", sans-serif;
}

/*login,findId; input validation check span*/
#msgId,
#msgPwd,
#msgName,
#msgPhone,
#msgName1,
#msgPhone1 {
	width: 394px;
	margin: auto;
	text-align: left;
}

/*****************************cmj**************************************/
/*******************************¸ð´ÞÃ¢************************************/
/*SignUp; modal style
deletePwd, findId; modal2 style */
#modal,
#modal2 {
	position: fixed;
	top:50%; 			
	left:50%;
  	transform: translate(-50%,-50%);
	width: 100%;		
	height: 100%;
	background: rgba(128, 128, 128, .3);
	display: none;
}
/*SignUp; agreement style
deletePwd, findId; agreement2 style */
div.agreement,
div.agreement2 {
	position: fixed;
	top:50%; 			
	left:50%;
  	transform: translate(-50%,-50%);
	width: 450px;		
	height: 550px;
	margin: auto;
	background: white;
	text-align: center;
	border-radius: 10px;
	box-shadow: inset 0px 3px 6px #0000001A, 0px 10px 20px #00000029;
}

/*SignUp, deletePwd, findId; agreement-title style */
#agreement-title {
	margin: 0px 0px 20px 0px;
	padding-top: 30px;
	text-align: center;
	font-family: "YouandiModern", sans-serif;
	color: #2B2B2B;
	font-size: 24px;
}
/*SignUp, deletePwd, findId; agreement-content style */
#agreement-content {
	text-align: center;
	width: 370px;			height: 340px;
	padding: 15px;
	font-family: "YouandiModern", sans-serif;
	color: #6E6E6E;
	font-size: 16px;
	text-align: justify;
	margin: auto;
	overflow: auto;
}
/*SignUp; modal button style*/
div.agreement button#button-gradient {
	margin: 20px 0 10px 0;
	width: 250px;
	font-size: 20px;
}
/*SignUp; modal detail style*/
div.detail1, div.detail2, div.detail3, div.detail4 {
	display: none;
}

/**********************************************************/
/*deletePwd, findId(id), findId(password); modal style*/
div.deleteComplete,
div.deleteComplete1,
div.find-id-none,
div.find-pwd-none {
	display: none;
}
/*deletePwd,findId(id,password); modal style*/
#delete-span {
	display: inline-block;
	margin: 25px 0;
}
/*deletePwd, findId; modal style*/
div.agreement2 {
	height: 300px;
}
/*findId; modal button style*/
#button-gradient-gotoLogin,
#button-gradient-gotoPwd,
#button-gradient-gotoFind,
#button-gradient-gotoJoin,
#button-gradient-home {
	border: none;
	width: 180px;
	height: 50px;
	cursor: pointer;
	color: white;
	background: linear-gradient(to right, #682CAD, #2FC0CC);
	border-radius: 3px;
	font-family: "YouandiModern", sans-serif; /***/
	margin-top: 20px;
	font-size: 20px; /***/
}
/*Company-SignUp form id style*/
#content-3 {
	width: 40%;
	margin: auto;
	text-align: left;
	padding-left: 45px;
}

/*SignUp, Company-SignUp, login; form id*/
#content-2,
#content-3,
#individual-loginForm,
#company-loginForm {
	display: none;
}

/*SignUp, Company-SignUp, login 
findId input radiobox style*/
#individual:checked ~ #content-2,
#company:checked ~ #content-3,
#findId:checked ~ #findIdForm,
#findPwd:checked ~ #findPwdForm,
#individual-login:checked ~ #individual-loginForm,
#company-login:checked ~ #company-loginForm {
	display: block;
}

/*SignUp, Company-SignUp input-radiobox
findId input-radiobox style*/
#individual,
#company,
#findId,
#findPwd,
#individual-login,
#company-login {
	display: none;
}

#individual-tab,
#company-tab,
#findId-tab,
#findPwd-tab,
#individual-login-tab,
#company-login-tab {
	display: inline-block;
	margin: 0 0 5px 0;
	padding: 15px 63px;
	font-weight: 600;
	text-align: center;
	color: #bbb;
	border: 1px solid transparent;
}

#findId-tab,
#findPwd-tab {
	padding: 15px 51px;
}

#individual-tab:hover,
#company-tab:hover,
#findId-tab:hover,
#findPwd-tab:hover,
#individual-login-tab:hover,
#company-login-tab:hover {
    color: #2e9cdf;
    cursor: pointer;}

/*SignUp, Company-SignUp, findId; input radio click style*/
#individual:checked + #individual-tab,
#company:checked + #company-tab,
#findId:checked + #findId-tab,
#findPwd:checked + #findPwd-tab,
#individual-login:checked + #individual-login-tab,
#company-login:checked + #company-login-tab {
    color: #555;
    border: 1px solid #ddd;
    border-top: 2px solid #2e9cdf;
    border-bottom: 1px solid #ffffff;
}
/*findId; form id */
#findIdForm,
#findPwdForm {
	display: none;
}

/****************************5.31 css update***********************************/

/* join; Company Sign Up button style */
#button-gradient-company {
	border: none;
	width: 394px;
	height: 60px;
	cursor: pointer;
	color: white;
	background: linear-gradient(to right, #682CAD, #2FC0CC);
	border-radius: 3px;
	font-family: "YouandiModern", sans-serif; 
	margin-top: 20px;
	font-size: 20px; 
} 
/*input-id~ : join.jsp,
input-common-password (because isn't applied password-button)
input-common-phone : findId.jsp
c-input-common : login.jsp (link to company findPwd)
*/
#input-id,
#input-common-password,
#input-common-password-check,
#company-password, #company-password-check,
#company-name,
#company-addr2,
#company-selectbox-phone1,
#input-common-phone,
#input-common-name,
#c-input-common {
	width: 394px;
	padding: 20px 0;
	margin: 5px 0;
	text-indent: 10px;
	border-radius: 3px;
	border: 1px solid lightgray;
	outline: none;
	font-size: 16px;
}

/*Sign Up - ID input style*/
#input-id {
	width: 305px;
}
/*chk-circle same; c-chk-circle*/
#c-chk-circle {
	width: 1rem;
	height: 1rem;
	border: 2px solid #2C2C2C;
	border-radius: 50%;
	appearance: none;
	cursor: pointer;
}
/*Company Sign Up; agreementAll checkbox*/
#c-chk-circle:checked {
	background: #2C2C2C;
}

/*myPage change password link*/
#changePassword {
	border: 1px solid red;
}
