html,body,h1,h2,h3,h4,h5,p,div,span{
  font-family:"Malgun Gothic",'dotum','gulim';
}

select option{
  color:#000000;
}

.page-header h1{
  font-size:16px;
}

.t3-header{
  background:none;
  padding-bottom:32px;
}

.t3-content{
  min-height:550px;
}

.t3-megamenu .nav li a{
  font-size:14px;
  font-weight:bold;
}

.modal-header{
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.modal-dialog {
  margin-top:150px;
}

.modal-title{
  color: inherit;
  font-family:"Malgun Gothic","ë§‘ì€ ê³ ë”•";
  font-size: 16px;
  font-weight:bold;
}

.modal-content{
  color:#ffffff;
  background:#141D29;
  box-shadow:none;
  margin-top:300px;
}

.close{
  color:#ffffff;
  opacity:0.5;
  text-shadow:none;
}

.modal-footer{
  border-top: 1px solid rgba(255,255,255,0.1);
}

html .modal-open .modal {
  background-color: rgba(27,40,56,0.5);
}
.orderlistcontainer{
  text-transform:none;
}

.items-leading .leading .article-intro{
  opacity:1.0;
}

