<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.uniquegames.noticeMapper">

	<select id="selectNotice" resultType="NoticeVo">
		SELECT * 
		FROM (
			SELECT @ROWNUM:= @ROWNUM + 1 AS RNO, 
			POST_ID, TITLE, CONTENT, COMPANY_ID, 
			NOTICE_HITS, 
			CAST( DATE_FORMAT( NOTICE_DATE, '%Y-%m-%d %H:%i:%s' ) AS CHAR(19) ) AS NOTICE_DATE
			FROM (
				SELECT POST_ID, 
				TITLE, 
				CONTENT, 
				COMPANY_ID, 
				NOTICE_HITS, 
				NOTICE_DATE 
				FROM NOTICE 
				ORDER BY NOTICE_DATE DESC, POST_ID DESC
			) SUB, 
			(SELECT @ROWNUM:=0) TMP) T1
			WHERE RNO between #{start} AND #{end}
	</select>

	<update id="updateFile" parameterType="NoticeVo">

		UPDATE NOTICE_IMAGE 
			SET IMAGE_ID = #{image_id},
				UPLOAD_FILE = #{upload_file}
			WHERE POST_ID = #{post_id}

	</update>
	
	<insert id="updateUploadFile" parameterType="NoticeVo">
		INSERT INTO NOTICE_IMAGE (
			IMAGE_ID, 
			POST_ID, 
			UPLOAD_FILE
		) 
		VALUES ( 
			#{image_id}, 
			#{post_id}, 
			#{upload_file}
		)
	</insert>
	
	<select id="fileCheck" parameterType="NoticeVo" resultType="int">
		SELECT COUNT(*) FROM NOTICE_IMAGE WHERE POST_ID = #{post_id}
	</select>
</mapper>