/** board style **/
#content {
	margin: 100px auto;
}

#board-content>table, #user-btable, #admin-btable, #board-write>table {
	border-collapse: collapse;
	border-top: 2px solid #393939;
	border-bottom: 2px solid #393939;
}

/* board top menu */
#board-top-menu {
	padding-bottom: 10px;
	font-size: 0px;
}

#board-write>table {
	border-collapse: collapse;
	border: 1px solid #DDDDDD;
	border-top: 2px solid #393939;
	border-bottom: 2px solid #393939;
}

#board-top-menu>p {
	font-size: 24px;
	float: left;
}

#board-top-menu>div>label>input {
	width: 215px;
	height: 14px;
	border: 1px solid #DDDDDD;
	padding: 7px 30px 7px 16px;
	font-size: 14px;
}

#board-top-menu>div>label {
	position: relative;
	margin-left: 410px;
}

#bsearch-box {
	float: right;
}

#board-top-menu>div>ul>li:last-child>button {
	margin-right: 0;
}

#board-top-menu>div>ul>li:last-child>a>button {
	margin-right: 0;
}

#board-top-menu>div>ul {
	float: right;
}

#board-top-menu>div>ul>li {
	float: left;
	margin-left: 10px;
}

#btn-search {
	background: none;
	border: none;
	position: absolute;
	top: -15px;
	right: 10px;
	cursor: pointer;
}

/* #btn-search:hover  */

/* board */
#admin-btable th {
	border-bottom: 1px solid #DDDDDD;
}

#admin-btable th,
#admin-btable td {
	padding: 18px;
	text-align: center;
}

#admin-btable tr>th:first-child,
#admin-btable tr>td:first-child,
#admin-btable tr>th:nth-child(2),
#admin-btable tr>td:nth-child(2) {
	padding: 8px;
}

#admin-btable tr>td:nth-child(3) {
	text-align: left;
}

#paging {
	font-size: 18px;
	list-style-type: none;
	clear: both;
	margin: 0 380px;
}

#paging>li {
	float: left;
	padding: 5px;
}

#user-btable, #admin-btable {
	border-bottom: none;
}

#user-btable tr:last-child, #admin-btable tr:last-child {
	border-top: 2px solid #393939;
}

/* board - user */
#user-table th {
	border-bottom: 1px solid #DDDDDD;
}

#user-table th,
td {
	padding: 18px;
	text-align: center;
}

#user-btable tr>th:first-child,
#user-btable tr>td:first-child {
	padding: 8px;
}

#user-btable tr>td:nth-child(2) {
	text-align: left;
}

#user-btable tr>td:nth-child(3) {
	text-align: center;
}

/* board - write */
#board-write>table th {
	padding: 19px 24px;
	font-size: 16px;
	border-bottom: 1px solid #DDDDDD;
}

#board-write>table td {
	font-size: 14px;
	border-bottom: 1px solid #DDDDDD;
	padding: 8px;
}

#default-write {
	font-size: 14px;
	border: 1px solid #DDDDDD;
	padding: 12px 16px;
	width: 766px;
}

#board-write>table td>input {
	height: 14px;
}

#board-write>table td>textarea {
	height: 153px;
	resize: none;
}

/* board - content */
#board-content>table th {
	padding: 19px 8px;
	font-size: 16px;
	background: #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}

#board-content>table td {
	font-size: 17px;
	border-bottom: 1px solid #DDDDDD;
	padding: 8px;
}

#board-content>table th:first-child {
	text-align: left;
}

#board-content>table td:nth-child(2) {
	width: 50%;
}

#details {
	padding: 10px 30px;
	text-align: left;
}

#clearFix {
	clear: both;
}