/******* Commons *******/
* {
	margin: 0px;		padding: 0px;
	font-family: "YouandiModern", "Apex New", "Noto Sans KR", sans-serif;
}

/******* Base *******/
h1, #div-gameList, #order-complete, #div-info , #div-Price , #div-button {
	margin: auto;
	width: 1100px;
}

h1 {
	padding: 30px 0 10px 0;
	border-bottom: 2px solid #393939;

	font-family:"YouandiModern", sans-serif;
	font-size: 23px;
	color: #2B2B2B;
}

/******* Table *******/
<!-- table -->
#table-gameList {
	margin: auto;
	border: 1px solid #DDDDDD;
	border-collapse: collapse;
	width: 100%;

	font-family:"YouandiModern";
	text-align: center;
}

<!-- th -->
th {
	padding: 0 0 5px 0;

	font-size: 16px;
	color: #000000;
}

<!-- td -->
td {
	border-bottom: 1px solid #DDDDDD;

	font-size:14px;
	color: #A9A9A9;
	text-align: left;
}

/******* Button *******/
#btn-deleteAll, #btn-deleteSelected, #btn-deleteOne {
	padding: 3px 14px;
	background: #393939;
	border-radius: 5px;
	
	color: #FFFFFF;
	font-size: 14px;
	cursor: pointer;
}

#btn-cart, #btn-order, #btn-main, #btn-list {
	padding: 12px 80px;
	border: none;
	border-radius: 3px;
	background: linear-gradient(to right,#682CAD,#2FC0CC);
	
	color: white;
	font-family: "Apex New";
	font-size: 20px;
	cursor: pointer;
}

/******* CheckBox *******/
#checkAll {
	margin-right: 6px;
	width: 1rem;	height: 1rem;
	border: 2px solid #2C2C2C;
	border-radius: 50%;
	
	appearance: none;
    cursor: pointer;
}

#checkAll:checked {
	background: #2C2C2C;
}

/******* a *******/
a {
	color: black;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:visited {
	color: #DDDDDD;
}

#detail1, #detail2, #detail3, #detail4 {
	padding: 0 10px;
} 

/******* Banner *******/
#top-bg {
	width: 100%;
	margin: auto;
	background-image: url("../../images/img_bg.png");
	background-size:cover;
	height: 229px;
	background-repeat: no-repeat;
}

#base-layer {
	width: 1100px;
	margin: auto;
}

#top-bg-textarea {
	color: white;
	font-style: italic;
}

#top-title {
	font-family: "Apex New";
	color: white;
	font-size: 32px;
	font-weight: bold;
	padding-top: 70px;
}

#top-subtitle {
	font-size: 20px;
	font-style: normal;
	padding-top: 15px;
	opacity: 0.6;
	font-weight: 500;
}


/****** Order.html ******/

/* subtitle & checkbox */
#member-chk {
	overflow: hidden;
}
#member-chk h2, #chk-circle, #chk-circle-span {
	display: inline-block;
	vertical-align: middle;
}
#chk-circle-span {
	margin-left: 5px;
}
#member-chk h2 {
	width: 200px;
	padding-top: 10px;
	float: left;
}
#member-chk div {
	float: right;
	text-align: center;
}

/** #section_cart **/
#section_cart td {
	width: 15%;		height: 100px;
	text-align: center;
}
#cart-info, #th-cart-info {
	width: 40%;
	text-align: left;
}

/* #section_cart product img */
#img_product {
	width: 80px;		height: 80px;
	outline: none;
	background: #E6E6E6 0% 0% no-repeat padding-box;
}

/* checkbox-box */
#chk-box {
	width: 20px;	height: 20px;
	appearance: none;
	border: 2px solid #959595;
	border-radius: 0px;
	cursor: pointer;
}
#chk-box:checked {
	appearance: auto;
}

/* pdName, price font */
td#cart-info {
	text-align: left;
}
#cart-pdName, td#cart-price{
	font-size: 15px;
	letter-spacing: 0px;
	color: #000000;
	text-decoration: none;
}

/* delete button size */
#order-btn-delete {
	width: 60px;
}

/** #section_member **/
/* table */
#section_member th {
	width: 10%;
	vertical-align: center;
}
#section_member td {
	width: 80%;
	text-align: left;
}
#section_member input, #section_member select#email-select {
	margin: 7px 0;
	padding: 11px 10px;
}

/* input size */
#section_member #name {
	width: 300px;
}
#section_member #email-id, #section_member #email-addr, #section_member select {
	width: 150px;
}
#section_member #phone1, #section_member #phone2, #section_member #phone3 {
	width: 70px;
}

#div-present {
	margin-bottom: 30px;
	display: none;
}

#section_payment a {
	cursor: pointer;
}

/* search button size */
#order-btn-search {
	margin: 10px 0;
	width: 80px;	height: 36px;
}

/** #section_payment **/
#section_payment #order-table{
	height: 300px;
}
#section_payment #order-table th {
	width: 25%;
	text-align: left;
	padding-left: 30px;
}
#section_payment #order-table td {
	padding: 5px 8px;
	text-align: left;
}
#section_payment #d1 {
	width: 1100px;		height: 400px;
}
#section_payment #d2 {
	width: 1100px;		height: 200px;
	text-align: center;
}
#section_payment #payment1 {
	float: left;
	width: 70%;			height: 300px;
}
#section_payment #payment2 {
	float: right;
	width: 28%;			height: 300px;
}

/* method button */
#section_payment #order-table #button-gradient {
	width: 100px;	height: 40px;
	margin-right: 10px;
}

/* #payment1 */
#payment-method, #payment-info {
	margin: 10px 0;
}

/* font */
#section_payment a {
	padding-left: 5px;

	text-align: left;
	text-decoration: underline;
	font-family:"YouandiModern";
	font-size: 14px;
	letter-spacing: 0px;
	color: #6E6E6E;
}
#section_payment span {
	padding-left: 7px;

	text-align: left;
	font-family:"YouandiModern";
	font-size: 14px;
	letter-spacing: 0px;
	color: #6E6E6E;
	opacity: 1;
}

/* chkbox - agreement */
#section_payment #span_agreementAll {
	width: 150px;
	padding-left: 10px;

	text-align: left;
	font-family:"YouandiModern";
	font-size: 16px;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
}
#section_payment input#agreement {
	width: 18px;		height: 12px;
	background-image: url("../images/btn_check_normal.png");
	background-repeat: no-repeat;

	appearance: none;
	cursor: pointer;
}
#section_payment input#agreement:checked {
	background-image: url("../images/btn_check_select.png");
	background-repeat: no-repeat;
}

/* #payment2 */
#payment2 #order-table th{
	width: 35%;
	border: none;
}
#payment2 #order-table td{
	text-align: right;
	border: none;
	padding-right: 10px;
}
#payment-price, #payment-totalPrice,
#th-payment-price, #th-payment-totalPrice {
	height: 20%;
	padding-top: 25px;
}
#payment-sale {
	vertical-align: top;
	margin-top: 10px;
}
td#payment-price, td#payment-sale, td#payment-totalPrice {
	font-family:"YouandiModern";
	font-size: 20px;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
}
td#payment-totalPrice {
	font-size: 24px;
}

/** cart.html **/
#price-table {
	text-align: center;
	overflow: hidden;
}
#price-table th {
	height: 40px;
	border-bottom: 1px solid #DDDDDD;
	font-family: "YouandiModern";
	font-size: 14px;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
}
#price-table td {
	height: 50px;
	font-family: "YouandiModern";
	font-size: 17px;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
}
#price-table td#totalPrice {
	font-size: 24px;
	font-weight: bold
}
#price-table td#price {
	text-decoration: line-through;
}
#price-table th:nth-child(2), #price-table td:nth-child(2),
#price-table th:nth-child(4), #price-table td:nth-child(4) {
	width: 10%;
}
#price-table th:nth-child(1), #price-table th:nth-child(3),
#price-table td:nth-child(1), #price-table td:nth-child(3) {
	width: 24%;
}
#price-table #price, #price-table #sale {
	color: #6E6E6E;
}
#section_price div:nth-child(2) {
	margin-top: 100px;
	width: 1100px;	height: 200px;
	text-align: center;
}

#order-complete-d1 {
	height: 600px;
	text-align: center;
}

#order-complete-d1 p {
	padding: 200px 0 100px 0;
	font-size: 30px;
	font-weight: bold;
}

#button-gradient-delete {
	border: none;
	width: 394px;
	height: 60px;
	cursor: pointer;
	color: white;
	background: linear-gradient(to right,#FF0033,#FFCC66);
	border-radius: 3px;
	font-family: "Apex New";
	margin: 10px 0;
}

/******* Agreement *******/
div#modal {
	position: fixed;
	top:50%; 			left:50%;
  	transform: translate(-50%,-50%);
	width: 100%;		height: 100%;
	background: rgba(128, 128, 128, .3);
	display: none;
}

div.agreement {
	position: fixed;
	top:50%; 			left:50%;
  	transform: translate(-50%,-50%);
	width: 450px;		height: 550px;
	margin: auto;
	background: white;
	text-align: center;
	border-radius: 10px;
	box-shadow: inset 0px 3px 6px #0000001A, 0px 10px 20px #00000029;
}
#agreement-title {
	margin: 0px 0px 20px 0px;
	padding-top: 30px;
	text-align: center;
	font-family: "YouandiModern", sans-serif;
	color: #2B2B2B;
	font-size: 24px;
}

#agreement-content {
	text-align: center;
	width: 370px;			height: 340px;
	padding: 15px;
	font-family: "YouandiModern", sans-serif;
	color: #6E6E6E;
	font-size: 16px;
	text-align: justify;
	margin: auto;
	overflow: auto;
}
div.agreement button#button-gradient {
	margin: 20px 0 10px 0;
	width: 250px;
	font-size: 20px;
}

div.detail1, div.detail2, div.detail3, div.detail4 {
	display: none;
}