/* Menu title(under the header) */

#top-bg {
  width: 100%;
  margin: auto;
  background-image: url( ../images/img_bg.png );
  background-size:cover;
  height: 229px;
  background-repeat: no-repeat;
}

#base-layer {
  width: 1100px;
  margin: auto;
}

#top-bg-textarea {
  color: white;
  font-style: italic;
}

#top-title {
  font-family: "Apex New";
  color: white;
  font-size: 32px;
  font-weight: bold;
  padding-top: 70px;
}

#top-subtitle {
  font-size: 20px;
  font-style: normal;
  padding-top: 15px;
  opacity: 0.6;
  font-weight: 500;
}


/* Hearder  style */
#header { width: 100%; margin: auto; height: 235px; }
#header div img { display: block; clear:both; }
#hearder-logo { height: 116px; position:relative; overflow: hidden; clear: both; }
#hearder-logo > a { position:absolute; display: block; top:38px; margin:0 44%; }
#header-bottom-menu { display: block; clear:both; }
#header-top-menu { width: 100%; background-color: #393939; height: 50px; }
#nav1 { margin: 10px 0; padding-right: 10%;float: right; }
#nav1 > ul { width: 100%; overflow: hidden; }
#nav1 > ul > li { display: block; float: left; margin:0 2px; }
#nav1 > ul > li > a { display: block; width: 40px; padding:4px 6px 4px 6px; text-decoration: none; color: #fff; font-size: 16px; font-family: "YouandiModern", sans-serif; text-align: center; }
#nav1 > ul > li > a > img { text-align: center; }
#nav1 > ul > li:first-child { padding-right: 5px; border-right: 1px solid #999999; }
#nav1 > ul > li:nth-child(2) { margin-left: 0px; }
#nav2 { border: 1px solid #D6D6D6; background-color: #F5F5F5; margin: auto; height: 61px; text-align: center; }
#nav2 > ul { width: 100%; margin: auto; overflow: hidden; }
#nav2 > ul > li { padding: 22px 50px; display: inline-block; margin:0 50px; }
#nav2 > ul > li > a { font-family: "Apex New", sans-serif; font-style: italic; font-weight: 100; font-size: 18px; font-weight: bold; color:#2B2B2B; text-decoration-line:none; }
#nav2 > ul > li > a:hover { color:#497EBF; font-weight: bold; }